<div class="col-lg-12">
  <h1 class="page-header">Produtos</h1>
</div>
<div class="row">
  <% @products.each do |product| %>
    <div class="col-sm-12 col-md-4">
      <div class="thumbnail">
        <div class="top">
          <div class="image">  
            <img src="<%= product.image %>" class="img-responsive">
          </div>
        </div>
        <div class="caption">
          <h5 class="product-name">
            <%= link_to product.name, product_path(product) %>
          </h5>
          <p>
            <%= product.description %>
          </p>
          <h3 class="product-price">R$ <%= product.price %></h3>
        </div>
      </div>
    </div>
  <% end %>
</div>