<div class="row">
  <% @products.each do |product| %>
    <div class="col-sm-12 col-md-4">
      <div class="thumbnail">
        <div class="top">
          <div class="image">  
            <img src="http://cdn1.knowyourmobile.com/sites/knowyourmobilecom/files/styles/gallery_wide/public/2016/02/imgp6315_dxo.jpg?itok=BH-rAplp" class="img-responsive">
          </div>
        </div>
        <div class="caption">
          <h5 class="product-name">
            <%= link_to product.name, product_path(product) %>
          </h5>
          <p>
            <%= product.description %>
          </p>
          <h3 class="product-price">R$ <%= product.price %></h3>
        </div>
      </div>
    </div>
  <% end %>
</div>