<div class="row">
  <h3> Métricas </h3>
  <div class="col-xs-12 col-md-5 col-md-offset-2">
    <div class="circle">
      <div class="c100 p100">
        <span><%= Visitor.count %></span>
        <div class="slice">
          <div class="bar"></div>
          <div class="fill"></div>
        </div>
      </div>
      <h5 class="title">Visitantes</h5>
    </div>
  </div>
  <div class="col-xs-12 col-md-5" >
    <div class="circle">
      <div class="c100 p100 blue">
        <span><%= View.count %></span>
        <div class="slice">
          <div class="bar"></div>
          <div class="fill"></div>
        </div>
      </div>
      <h5>Visualizações</h5>
    </div>
  </div>
</div>