/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require bootstrap
 *= require circle
 *= require_self
 */

 @import url('https://fonts.googleapis.com/css?family=Roboto:400,700,900');
body {
  background-color: #f4f4f4;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-size: 16px;
  padding-top: 50px;
  line-height: 1.55;
}

.circle {
  max-width: 200px;
  margin-right: 50px;
  float: left;
  text-align: center;
}

.circle h5 {
  text-transform: uppercase;
}

.row h3 {
  margin-top: 0px;
}

.row .visitor {
  padding-left: 0px;
  padding-right: 0px;
  margin-bottom: 5px;
  margin-right: 5px;
}

.visitor {
  position: relative;
  display: block;
  background-color: #FFF;
  max-height: 55px;
}

.visitor .visitor-avatar, .visitor .visitor-name {
  height: 55px;
  margin-right: 10px;
  float: left;
}

.visitor .visitor-name {
  margin: auto;
}

.logo {
  padding: 0px;
  margin-top: 0px;    
}

.flat-btn {
  color: #ef5285;
  background-color: transparent;
  border-color: #ef5285;
}

.flat-btn:hover {
  color: #FFFFFF;
  background-color: #ef5285;
}

.navbar-header .navbar-brand {
	color: #fff;
	font-size: 16px;
	text-transform: uppercase;
	font-weight: 500;
	letter-spacing: 2px;
}

.navbar-header .navbar-brand span {
	color: #ef5285;
}

.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
  color: #ef5285;
  background-color: transparent;
}

.navbar {
	border: 0;
}

.navbar input {
	border: 0;
	background: #444;
	color: #fff;
}

.navbar input:focus {
	color: #fff;
	background: #555;
	border: 1px solid #30a5ff;
	outline: 0;
	box-shadow: inset 0px 0px 0px 1px #30a5ff;
}

.navbar-inverse .navbar-nav > .active > a {
  color: #ef5285;
  font-weight: 700;
}