<div class="col-lg-12">
  <h1 class="page-header">Visitantes</h1>
</div>
<div class="row">
  <% @visitors.each do |visitor| %>
    <div class="visitor col-xs-12 col-md-5">
      <%= link_to(visitor_path(visitor)) do %>
        <div class="visitor-avatar">
          <img class="media-object" src="<%= gravatar(visitor.email) %>" alt="...">
        </div>
        <div class="visitor-name">
          <h4><%= visitor.email %></h4>
        </div>
      <% end %>
    </div>
  <% end %>
</div>

